<% if logged_in? %>
  <div class="row">
    <div class="col-sm-12">
      <h1>Health Info for <%= current_user.email %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="chart" id="heartrate"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="chart" id="calories"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="chart" id="activity"></div>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Health Info app!</h1>
      <p class="lead">Login to see your data</p>
      <p><a class="btn btn-primary" href="/login" role="button">Log In</a></p>
    </div>
  </div>
<% end %>
